{% extends 'base.html' %}

{% block title %}Change Password{% endblock %}

{% block content %}
  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card">
          <div class="card-header">
            {{ block.super }}
          </div>
          <div class="card-body">
            <h2 class="mb-4">Change Password</h2>
            {% for message in messages %}
              <div class="alert alert-success">
                {{ message }}
              </div>
            {% endfor %}
            <form method="post">
              {% csrf_token %}
              {{ form.non_field_errors }}
              <div class="form-group">
                {{ form.old_password.label_tag }}
                <input type="password" class="form-control custom-input" id="{{ form.old_password.id_for_label }}" name="{{ form.old_password.name }}" required>
              </div>
              <div class="form-group">
                {{ form.new_password1.label_tag }}
                <input type="password" class="form-control custom-input" id="{{ form.new_password1.id_for_label }}" name="{{ form.new_password1.name }}" required>
              </div>
              <div class="form-group">
                {{ form.new_password2.label_tag }}
                <input type="password" class="form-control custom-input" id="{{ form.new_password2.id_for_label }}" name="{{ form.new_password2.name }}" required>
              </div>
              <button type="submit" class="btn btn-primary">Change Password</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
